.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-layout-header {
  background-color: #6b6d70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.sub-header{
  padding: 10px;
}
.ant-layout-header h3{
  color: white;
}

.dash-board{
  color: rgb(236, 178, 90);
  font-weight: 400;
}

.button-primary{
  color: white;
  background-color: rgb(114, 114, 126);
  border-radius: 5px;
  width: fit-content;
  border: #000000;
  
}

.add-product-frame{
  width: 300px;
  position:fixed;
  top: 50px;
  left: calc( 50% - 150px );
  right: auto;
  z-index: 999;
  box-shadow: 3px 3px 5px rgb(170, 169, 169);
  border-radius: 5px;
  overflow: hidden;
  
  
}
.add-product-frame h5{
  color: white;
}
.add-product-frame form{
  padding: 10px;
  
}
.add-product-frame iframe{
  display: none;
}
.search-layout{
display: flex;
}

.primary-frame{
  background-color: white;
  box-shadow: 3px 3px 5px rgb(170, 169, 169);
  border-radius: 4px;
  margin: 7px 15px 0 4px;
  padding: 15px;
  
}
.search-content-wraper{
  display: flex;
  flex-direction: column;
}
.sider{
  width: 300px;
  height: 100vh;
  margin-right: 0px;
}

.sider h3{
  color: rgb(0, 0, 0);
}

.sider label{
  align-self: left;
}
.product-card-frame .image-wrap{
  width: 20%;
}

.product-card-frame{
  display: flex;
  justify-content: space-between;
}
.product-card-frame .text-wrap{
  text-align: left;
  width: 800px;
  padding-left: 20px;
  border-left: 1px solid gray;
}



.price{
  color: rgb(236, 178, 90);
  font-weight: 600;
}
.product-card-frame button{
  color: white;
  border-radius: 5px;
  width: 95px;
}

.product-card-frame .edit-button{
  background-color: rgb(114, 114, 126);
}
.product-card-frame .dlt-button{
  background-color: rgb(247, 57, 57);
}


.product-card-frame .cancel-button{
  color: grey;
}
.close-button{
  border: none;
  background-color: unset;
  width: 100%;
  border-radius: 5px;
  
}
.delete-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: red;
  font-size: 30px;
  font-weight: 600;
}

.product-image{
  height: 200px;
}

.search-result-list{
  
  overflow-y: 'scroll';
   height:70vh;
}

.add-multi-product-form-frame{
  display: flex;
}
.add-multi-product-form-frame .ant-form-item{
  margin-right: 10px;
}